pydantic_settings
fastapi
uvicorn
python-jose[cryptography]
passlib[context]
passlib
sqlalchemy
alembic
psycopg2-binary
pydantic[email]
"bcrypt==4.0.1"
python-multipart

{
  "email": "dhanu@123.com",
  "password": "dhanu@123"
}